# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.venv/
venv/
env/
ENV/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Flask/instance
instance/

# Env files
.env
.env.*

# Tests/Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
logs/
*.log

# App generated data
data/index/**
static/uploads/**
static/images/**


